.main p{
    color: crimson;
    font-size: 20px;
}
.sub>p{
    width: 400px;
    border: 1px solid red;
    border-radius: 5px;
    color: lime;
    background-color: blueviolet;
}
.main+p{
    width: 300px;
    border: 1px solid green;
    border-radius: 7px;
    background-color: black;
    color: yellow;
    font-size: 2rem;
}
.main~p{
    color: pink;
    font-size: 2rem;
}